.App {
  text-align: center;
  margin-top: 50px;
}

.guessGrid {
  display: inline-grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.guessRow {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.guessBox {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  font-size: 32px;
  font-weight: bold;
  color: #333;
  background-color: #eee; 
}


.correct {
  background-color: green;
  color: white;
}


.misplaced {
  background-color: yellow;
  color: black;
}

input, button {
  margin: 20px;
  padding: 10px;
  font-size: 16px;
}

button {
  cursor: pointer;
}
.revealWord {
  margin-top: 20px;
  font-size: 20px;
  color: red;
}

button {
  margin: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}


.restartButton {
  background-color: #4CAF50; 
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.restartButton:hover {
  background-color: #45a049;
}